<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0" shrink-to-fit="no">

   <!--Bootstrap Stylesheet-->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

   <title>Welcome Page</title>
   <br>
   <h1><strong><center>Travis Moret</center></strong></h1>
   <h2><center>CS 493 Final Project Auth0 Tester</center></h2>
</head>
<body>
   <style>
   h1 {
      font-family:"Comic Sans MS", cursive, sans-serif;
      text-align: center;
   }
   img {
      width: 20%;
      height: auto; 
   }
   body {
      background-color: cadetblue;
   }
   </style>
   <center><p>This project tests a full Auth0 flow for OSU's Cloud Application course Final Project. </p></center>
   <center><p>After signing in, the user will recieve a JWT with which to use the API in Postman.</p></center>
   <br>
   <center><a href= '/ui_login'><input type="button" value="Log in or create an account"/></center> 
   <br>
   <center><img src='https://i.gifer.com/RNjs.gif' /></center>
   <br>
   <br>
</body>
</html>